.qr-scanner {
  display: none;
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: -1;

  width: 100vw;
  height: 100vh;

  background-color: rgba(#000, 0.5);

  opacity: 0;

  &--opened {
    display: block;
    z-index: 10;
    opacity: 1;
  }

  #reader {
    margin-top: 50%;
  }
}
