.schedule-table {
  padding: 0 226px;
  .schedule-row {
    display: flex;
    align-items: center;
    justify-content: space-between;

    column-gap: 74px;

    &__time {
      display: flex;
      align-items: center;
    }
  }
}
