.app-menu {
  height: 100%;

  display: flex;
  flex-direction: column;

  @include mobile {
    height: auto;
  }

  &__item.router-link-active {
    &::before {
      width: 100%;
    }
  }
  &__item {
    width: 100%;

    display: flex;
    align-items: center;
    column-gap: 14px;

    position: relative;
    z-index: 1;

    padding: 13px 16px 13px 16px;

    cursor: pointer;

    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;

    color: $dark-primary;
    text-decoration: none;

    &--parent {
      justify-content: space-between;
    }

    &.active {
      &::before {
        width: 100%;
      }
    }

    @include canHover {
      &:hover {
        &::before {
          width: 100%;
        }
      }
    }

    &::before {
      content: "";

      width: 0;
      height: 100%;

      position: absolute;
      left: 0;
      top: 0;
      z-index: -1;

      background: linear-gradient(
        90deg,
        rgba(255, 122, 46, 0.3) 0%,
        rgba(255, 122, 46, 0) 100%
      );

      transition: width 0.5s ease;
    }
    a {
      font-family: "Inter";
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 17px;

      color: $dark-primary;
      text-decoration: none;
    }
  }

  &__subgroup {
    &.active {
      .app-menu__subgroup-subchildren {
        display: flex;
      }
      .app-menu-subicon {
        transform: rotate(180deg);
      }
    }

    &-parent {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    &-subchildren {
      display: none;
      flex-direction: column;
      padding-left: 12px;
    }
  }
  &__group {
    &.active {
      .app-menu__group-children {
        display: flex;
      }
      .app-menu-icon {
        transform: rotate(180deg);
      }
    }

    &-parent {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    &-children {
      display: none;
      flex-direction: column;
      padding-left: 12px;
    }
  }
}
