.form-title {
  &--bottom {
    padding-top: 16px;
    margin-top: 32px;
    margin-bottom: 16px;
    border-top: 1px solid lighten($dark-secondary, 70);
  }

  &--top {
    padding-bottom: 16px;
    // margin-bottom: 32px;
    margin-top: 16px;

    border-bottom: 1px solid lighten($dark-secondary, 70);
  }

  &__content {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;

    color: $dark-primary;

    @include mobile {
      font-size: 18px;
      line-height: 24px;
    }
  }
}
