.reset-password-content {
  margin-bottom: 50%;
  &__actions {
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;

    row-gap: 16px;
  }

  &__title {
    margin-bottom: 16px;
  }
}
