.app-logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 4px;

  img {
    @include mobile() {
      width: 65px;
    }
  }

  &__text {
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 8px;
    line-height: 10px;

    color: $dark-primary;

    @include mobile() {
      font-size: 6px;
      line-height: 7px;
    }
  }
}
