.context-menu {
  position: fixed;
  z-index: 9999;

  background-color: #fff;
  border-radius: 10px;
  border: 1px solid $accent-primary;

  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

  overflow: hidden;
}
