@import "@/components/index.scss";
@import "@/views/index.scss";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  overflow-x: hidden;
  font-family: "Roboto";
}

a:has(> button) {
  text-decoration: none;
  @include mobile {
    width: 100%;
  }
}
