.dashboard-content {
  width: 100%;

  display: flex;
  flex-direction: column;

  padding: 60px 15% 0 15%;
  text-align: center;

  @include mobile {
    padding: 34px 0;
  }

  .company-name {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 150%;

    color: $dark-primary;

    margin-bottom: 42px;

    @include mobile {
      font-size: 24px;
      line-height: 150%;
      margin-bottom: 14px;
    }
  }

  .greeting {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 150%;

    color: $accent-primary;

    @include mobile {
      font-size: 22px;
      line-height: 150%;
      margin-bottom: 14px;
    }
  }
}

.user-stats {
  &__bonuses {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 150%;

    color: $dark-primary;

    margin-bottom: 70px;

    @include mobile {
      font-size: 22px;
      line-height: 150%;

      margin-bottom: 42px;
    }

    span {
      color: $accent-primary;
    }
  }
}

.products-stats {
  &__title {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 150%;

    color: $dark-primary;

    margin-bottom: 62px;

    @include mobile {
      font-size: 22px;
      line-height: 150%;
      margin-bottom: 36px;
    }
  }
  &__list {
    display: flex;
    align-items: center;
    justify-content: space-between;

    column-gap: 10%;

    &-item {
      display: flex;
      flex-direction: column;
      align-items: center;

      &__title {
        font-family: "Roboto";
        font-style: normal;
        font-weight: 400;
        font-size: 32px;
        line-height: 150%;

        color: $dark-primary;

        @include mobile {
          font-size: 22px;
          line-height: 150%;
        }
      }

      &__value {
        font-family: "Roboto";
        font-style: normal;
        font-weight: 700;
        font-size: 54px;
        line-height: 150%;

        color: $dark-primary;

        @include mobile {
          font-size: 30px;
          line-height: 150%;
        }
      }
    }
  }
}
