.terminal-form__container {
  width: 100%;

  @include mobile {
    width: 100%;
  }
}
.terminal-form {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
}

.checkbox-container {
  width: 70%;

  @include mobile {
    width: 100%;
  }
}
