.timepicker {
  position: relative;

  &-field {
    display: flex;
    align-items: center;

    &__input {
      width: 66px;
      width: 66px;

      padding: 0 4px;

      background: #ffffff;
      border: 1px solid $accent-primary;
      border-radius: 6px;

      font-family: "Roboto";
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      line-height: 150%;

      color: $dark-primary;
    }
  }
  &-dropdown {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 10px;

    position: absolute;
    top: calc(100% + 8px);
    z-index: -2;

    min-width: 162px;
    max-width: 162px;
    padding: 20px 0;

    background: #ffffff;
    border: 1px solid #ff7a2e;
    border-radius: 8px;

    &.opened {
      display: flex;
      z-index: 1;
    }

    &__title {
      font-family: "Roboto";
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 150%;

      color: $dark-primary;
    }

    &__row {
      display: flex;
      align-items: center;
      column-gap: 10px;
    }

    &__values {
      display: flex;
      flex-direction: column;
      align-items: center;
      row-gap: 4px;
    }

    &__icon {
      cursor: pointer;
    }
  }

  &-range-field {
    display: flex;
    align-items: center;
    column-gap: 8px;
  }

  &__delimetr {
  }
}
