.confirm-code-content {
  margin-bottom: 50%;

  @include mobile {
    margin-bottom: 0;
    padding: 0 20px;
  }

  &__actions {
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;

    row-gap: 16px;
  }

  &__title {
    margin-bottom: 16px;
  }

  &__resend {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;

    color: $dark-primary;

    span {
      color: $accent-primary;
    }
  }

  &__phone {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;

    text-align: center;

    color: $dark-primary;

    a {
      color: $accent-primary;
    }
  }
}

.success-modal__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 16px;

  padding: 60px 100px;

  @include mobile {
    padding: 20px 28px;
  }

  &-icon {
    @include mobile {
      width: 50px;
      height: 50px;

      img {
        width: 100%;
        height: 100%;
      }
    }
  }

  &-title {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;

    color: $accent-primary;

    @include mobile {
      text-align: center;

      font-size: 16px;
      line-height: 150%;
    }
  }
}
