.app-user {
  display: flex;
  align-items: center;
  column-gap: 8px;

  &__name {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;

    color: $dark-primary;
  }

  &__avatar {
    @include mobile {
      img {
        width: 26px;
      }
    }
  }
}
