.signin-content {
  margin-bottom: 45%;

  @include mobile {
    margin-bottom: 0;
    padding: 0 40px 0 40px;
  }

  .signin-link {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;

    color: $dark-primary;
    text-decoration: none;

    span {
      color: $accent-primary;
    }

    @include mobile {
      font-size: 12px;
      line-height: 150%;
    }
  }

  &__title {
    margin-bottom: 24px;
  }
}
