.app-back-link {
  display: flex;
  align-items: center;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  text-decoration-line: underline;

  color: $accent-primary;
  cursor: pointer;

  img {
    width: 24px;
    height: 24px;
  }
}
