@mixin table-spacing($spacing) {
  &:before {
    content: "@";
    display: block;
    line-height: #{$spacing}px;
    text-indent: -99999px;
  }
}

.table {
  display: block;
  white-space: nowrap;
  overflow-x: auto;

  margin-top: 14px;

  &::-webkit-scrollbar {
    height: 4px;
  }

  &::-webkit-scrollbar-track {
    background: lighten($dark-primary, 90);
  }

  &::-webkit-scrollbar-thumb {
    background: lighten($dark-primary, 70);
  }

  &-tbody {
    @include table-spacing(10);
  }
  &-thead {
  }
  &-tr {
    background-color: #fff;
    border-bottom: 4px solid #fff;
  }
  &-th {
    text-align: left;
  }
  &-td {
  }

  &-cell {
    padding: 10px;

    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 150%;

    color: $dark-primary;

    text-align: left;
    white-space: nowrap;

    &__content {
      display: block;
      white-space: normal;
    }
  }

  &--empty {
    overflow-x: hidden;
    .table-thead {
      display: block;
      width: 100%;

      tr {
        display: flex;
        justify-content: space-between;
        width: 100%;
      }
    }
  }

  &-empty {
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: #fff;

    padding: 20px;

    font-family: "Roboto";
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 150%;
  }
}
