.file-field {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 8px;

  &__label {
    display: flex;
    align-items: center;
    column-gap: 8px;

    // margin: 9px 0;

    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;

    color: $dark-primary;

    @include mobile {
      font-size: 16px;
    }
  }

  &__button {
    background: transparent;
    border: none;

    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
    text-decoration-line: underline;

    color: $accent-primary;

    cursor: pointer;

    @include mobile {
      font-size: 14px;
    }
  }

  &__preview {
    display: flex;
    align-items: center;
    column-gap: 12px;
    &-img {
      width: 30px;
      height: 30px;
      object-fit: cover;
      border-radius: 50%;
    }
  }
}
