.form-field {
  display: flex;
  flex-direction: column;
  flex: 1 1 100%;

  position: relative;

  row-gap: 14px;

  &__label {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;

    color: $dark-primary;
  }

  &__input {
    padding: 10px;

    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;

    color: $dark-primary;

    border: 1px solid $dark-secondary;
    // box-shadow: $input-shadow;
    border-radius: 8px;

    &::placeholder {
      font-family: "Roboto";
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;

      color: $dark-secondary;
    }
  }

  &__extra {
    position: absolute;
    right: 10px;
    bottom: 9px;
  }

  &--centered {
    .form-field__label {
      text-align: center;
    }
  }
}
