.auth-layout-banking {
  width: 100%;
  height: 100%;

  display: flex;

  @include mobile {
    min-height: 100vh;

    @include mobile {
      margin-bottom: 60px;

      position: relative;

      &::before {
        content: "";

        width: 20px;
        height: 100%;

        position: absolute;
        top: 0;
        left: 0;

        background-color: $accent-primary;
      }
    }
  }

  &__image {
    display: flex;
    flex: 1 1 40%;
    overflow: hidden;

    @include mobile {
      display: none;
    }

    img {
      width: 100%;
      object-fit: cover;
    }
  }

  &__content {
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1 1 60%;

    padding: 32px 148px 48px 148px;

    @include mobile {
      flex: 1 1 100%;
      padding: 24px 32px 16px 32px;
    }
  }

  &__header {
    display: flex;
    align-items: center;
    justify-content: center;

    @include mobile {
      margin-bottom: 38px;
    }
  }

  &__logo {
    max-width: 190px;

    @include mobile {
      max-width: 80px;
    }

    img {
      width: 100%;
    }
  }

  &__footer {
    width: 100%;
    display: flex;
    justify-content: center;
    column-gap: 6px;

    @include mobile {
      margin-top: 60px;
    }

    .about {
      display: flex;
      align-items: center;
      padding: 0 15px;

      border-right: 1px solid $dark-primary;
      border-left: 1px solid $dark-primary;

      a {
        font-family: "Roboto";
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;

        text-decoration: none;
        color: $dark-primary;

        @include mobile {
          font-size: 12px;
          line-height: 14px;
        }
      }
    }
  }
}
